<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />

<div class="component" [ngClass]="collapsed ? 'collapsed' : ''">

    <div class="navigation">

        <!-- Header  -->
        <div class="section header">
            <h1 class="txt main_title">Mo<span *ngIf="!collapsed">dulo</span></h1>
        </div>

        <!-- Primary Options -->
        <span class="section options primary">
            <app-group [data]="navigationSections" [collapsed]="collapsed" (optionClicked)="optionClicked($event)" [activeSection]="website.activeSection"></app-group>
        </span>

        <!-- Secondary Options -->
        <div class="section options secondary">
            @for (option of this.navigation.get(this.website.activeSection); track option) {
                <app-group [data]="option" [collapsed]="collapsed" (optionClicked)="optionClicked($event)" [activeSection]="website.activeSection"></app-group>
            }
        </div>

        <!-- Collapse Button -->
        <div class="section collapse" (click)="toggleCollapse()">

            <div class="vertical_centering">
                <span class="material-symbols-outlined icon" *ngIf="collapsed">right_panel_close</span>
                <span class="material-symbols-outlined icon" *ngIf="!collapsed">left_panel_close</span>
            </div>

            <div class="vertical_centering" *ngIf="!collapsed">
                <h2 class="txt">Collapse</h2>
            </div>

        </div>

    </div>

    <div class="buffer"></div>

</div>
